{#
/**
 * Block Name: Text Card
 *
 * This is the template that displays the text card block.
 */
#}

<div id="text-card-{{ block.id }}" class="text-card mx-4 md:mx-auto my-8 p-8 w-full md:w-3/5 bg-indigo-400 text-white shadow">
  <h2 class="w-4/5 mx-auto text-left uppercase pb-4 mb-4 border-b-2 border-white">{{ fields.title }}</h2>
  <div class="mx-auto w-4/5">{{ fields.description }}</div>
</div>