<div class="h-16 p-4 {{ se_active ? 'bg-indigo-900' : 'bg-red-900' }} text-white w-full">
  <div class="flex flex-row justify-between">
    <div>
      Copyright {{"now"|date('Y')}}
    </div>
    <div class="flex flex-row justify-between w-1/4">
      <div class="icon-wrapper">
        <a href="{{ se_active ? 'https://www.instagram.com/social.ecologies/' : 'https://www.instagram.com/spontaneousvegetation/' }}" target="_blank" title="instagram">
          <i data-fa-symbol="ig-icon" class="fa-light fa-brands fa-instagram"></i>
          <svg class="footer-icons"><use xlink:href="#ig-icon"></use></svg>
        </a>
      </div>
      <div class="icon-wrapper">
        <a href="/spontaneous-vegetation/shop/" title="Spontaneous Vegetation Shop" class="flex flex-row">
          <span class="fa-layers fa-fw">
            <i data-fa-symbol="store" class="fa-light fa-shop"></i>
            <svg class="footer-icons"><use xlink:href="#store"></use></svg>
            <span class="fa-layers-text fa-inverse text-xs">Shop</span>
          </span>
        </a>
      </div>
      <div class="icon-wrapper">
        {% include 'woo/cart/fragment-link.twig' %}
      </div>
    </div>
    <div class="hidden md:block">
      {{ footer_widget }}
    </div>
</div>