<div class="h-16 p-4 {{ se_active ? 'bg-indigo-900' : 'bg-red-900' }} text-white w-full">
  <div class="flex flex-row justify-between">
    <div>
      Copyright {{"now"|date('Y')}}
    </div>
    <div class="hidden md:block">
      {{ footer_widget }}
    </div>
</div>