<div class="menu-wrapper wrapper h-16 bg-red-900">
	<div class="menu z-10 relative">
		<h1 class="hdr-logo text-white w-max h-full p-4 bg-indigo-900 text-md sm:text-xl md:text-2xl uppercase transition-all duration-500 transform -translate-x-40 md:-translate-x-60  hover:translate-x-0" role="banner">
			<a class="hdr-logo-link pr-4" href="{{se_home}}" rel="home">{{se_title}}</a>
			<i class="far fa-bullseye"></i>
		</h1>
	</div>
	<div class="menu bg-red-900">
		<h1 class="hdr-logo text-white text-md sm:text-xl md:text-2xl uppercase -left-60 whitespace-nowrap" role="banner">
				<button class="p-4" id="sv-menu-button"><i class="far fa-bars"></i></button>
				<a class="hdr-logo-link pl-4" href="{{sv_home}}" rel="home">{{sv_title}}</a>
		</h1>
	</div>
</div>
<div id="sv-menu" class="fixed z-20 bg-white bg-opacity-50 top-16 right-0 bottom-0 w-full overflow-hidden transform translate-x-full transition-transform ease-out duration-500 sm:duration-700">
	<div class="flex justify-end">
		<nav id="se-nav-main" class="nav-main mr-16 mt-0 md:mt-16" role="navigation">
			{% include "menu.twig" with {'items': sv_menu.get_items} %}
		</nav><!-- #nav -->
	</div>
</div>
